*{
        margin: 0px;
        padding: 0px;
}
html {
    background-color: #a9a9a9;
    height: 98%;
}
body {
    min-height: 100%;
    height: 100%;
    position:relative;
}
.first {
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
}
.second {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}
.left {
    width: 8%;
    height: 100%;
}
.right {
    width: 90%;
    height: 100%;
}

.main {
    border: 1px solid;
    border-color: green;
}
.images {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    border: 1px solid;
    border-color: green;
    width: 378px;
    height: 550px;
    flex-warp: warp;
}
img{
    width: 378px;
    height: 550px;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiGrid-item {
  margin-top: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}



